In [26]:
def square(n):
    return n**2

user_input = float(input("Enter a number"))
print (f'Result square: {square(user_input)}')

Enter a number 12

Result square: 144.0

In [11]:
g = lambda x:x**2
g(5)

25

In [13]:
def sum(a,b):
    return a+b

sum(8,2)

10

In [15]:
sum2 = lambda a,b: a+b

sum2(8,2)

10

In [17]:
mult = lambda a,b: a*b

mult (3,4)

12

In [23]:
lst = [1,2,3,4,5,6,7,8,9]

def even_nums(l):
    results = []
    for item in l:
        if item%2==0:
            results.append(item)
    return results

even_nums(lst)

[2, 4, 6, 8]

In [33]:
evens = filter(lambda x:x%2==0,lst)

list(evens)

[2, 4, 6, 8]

In [35]:
odds = filter(lambda x:x%2==1,lst)

list(odds)

[1, 3, 5, 7, 9]

In [37]:
bigs = filter(lambda x:x>=5,lst)

list (bigs)

[5, 6, 7, 8, 9]

In [46]:
def gt5(l):
    result = []
    for i in l:
            if i >=5:
                result.append(i)
    
    return result

gt5 (lst)

[5, 6, 7, 8, 9]

In [48]:
print (lst)
square_list = list(map(lambda item: item**2, lst))

square_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
from functools import reduce
lst2 = [2,4,6,8]
reduce (lambda a,b: a+b, lst2)

20

In [71]:
lst = [1,2,3,4,5,6,7,8,9]

multiplesofthree = filter(lambda a: a%3==0, lst)

print(f'{list(multiplesofthree)}')

[3, 6, 9]

In [75]:
dollars = map(lambda a: f'${a}', lst)

print(f'{list(dollars)}')

['$1', '$2', '$3', '$4', '$5', '$6', '$7', '$8', '$9']

In [81]:
gst7 = map(lambda a: f'${a*1.07:.2f}', lst)

print(f'{list(gst7)}')

['$1.07', '$2.14', '$3.21', '$4.28', '$5.35', '$6.42', '$7.49', '$8.56', '$9.63']

In [93]:
gstwas7 = map(lambda a: f'${a*1.07:.2f}' if a>5 else f'${a:.2f}', lst)

print(f'{list(gstwas7)}')

['$1.00', '$2.00', '$3.00', '$4.00', '$5.00', '$6.42', '$7.49', '$8.56', '$9.63']

In [95]:
class Employee:
    def __init__(self, first_name, last_name, emp_number):
        self._first_name = first_name
        self._last_name = last_name
        self._emp_number = emp_number

#create employee objects
emp1 = Employee("Jane", "Tan", "M0123")
emp1._first_name, emp1._last_name

('Jane', 'Tan')

In [125]:
class Employee:
    def __init__(self, first_name, last_name, emp_number):
        self._first_name = first_name
        self._last_name = last_name
        self._emp_number = emp_number

    #getters
    @property
    def first_name(self):
        return self._first_name
    
    @property
    def last_name(self):
        return self._last_name
    
    @property
    def emp_number(self):
        return self._emp_number
    
    #setters
    @first_name.setter
    def first_name(self, newName):
        self._first_name = newName
    
    @last_name.setter
    def last_name(self, newName):
        self._last_name = newName
    
    @emp_number.setter
    def emp_number(self, newNumber):
        self._emp_number = newNumber



emp1 = Employee("Jane", "Tan", "M0123")
emp2 = Employee("Andy", "Ng", "M0456")
emp3 = Employee("Xiao Ming", "Lim", "M0789")

emp3.emp_number

'M0789'

In [129]:
class Fib:
    def __init__ (self, max):
        self.max = max
        self.a = 0
        self.b = 1
    def __iter__ (self):
        return self
    def __next__ (self):
        fib = self.a
        if fib > self.max:
            raise StopIteration
        self.a, self.b = self.b, self.a + self.b
        return fib
    
for i in Fib(10):
    print (i, end=" ")

0 1 1 2 3 5 8

In [131]:
s="python"
for c in s:
    print (c, "***")

p ***
y ***
t ***
h ***
o ***
n ***

In [133]:
list_1 = [1,2,3,4,5]

for x in list_1:
    print (x)

1
2
3
4
5

In [135]:
list_1[1]

2

In [141]:
fruits = ["Apple", "Banana", "Coconut", ["Durian", "Eggplant"]]
print (fruits)
print (type(fruits))

#iterate through this list
for f in fruits:
    print (f, type (f))

['Apple', 'Banana', 'Coconut', ['Durian', 'Eggplant']]
<class 'list'>
Apple <class 'str'>
Banana <class 'str'>
Coconut <class 'str'>
['Durian', 'Eggplant'] <class 'list'>

In [143]:
for index, f in enumerate (fruits):
    print (f"(index): {f} {type(f)}")

(index): Apple <class 'str'>
(index): Banana <class 'str'>
(index): Coconut <class 'str'>
(index): ['Durian', 'Eggplant'] <class 'list'>

In [164]:
f = iter(fruits)
print(next(f))
print(next(f))

Apple
Banana

In [167]:
f = iter (fruits)
while True:
    try:
        print (next(f))
    except:
        break

Apple
Banana
Coconut
['Durian', 'Eggplant']

In [178]:
class myCounter:
    def __init__ (self, min, max):
        self.current = min
        self.high = max
    
    def __iter__ (self):
        return self

    def __next__ (self):
        if self.current > self.high:
            raise StopIteration
        else:
            self.current +=1
            return self.current -1

counter = myCounter (1,10)

for c in counter:
    print (c)

1
2
3
4
5
6
7
8
9
10

In [187]:
def fibo(n):
    a,b = 0,1
    for i in range(n):
        if a > n:
            break
        print (a)
        a,b = b,a+b

fibo(100)

0
1
1
2
3
5
8
13
21
34
55
89

In [207]:
class Fibo:

    def __init__ (self, max):
        self.max = max
        self.a = 0
        self.b = 1

    def __iter__ (self):
        return self

    def __next__ (self):
        fib = self.a
        if fib > self.max:
            raise StopIteration
        else:
            self.a,self.b = self.b,self.a + self.b
            return fib

a = Fibo (30)

print(list(a))

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [213]:
def goodies():
    yield "Cupcake"
    yield "Donut"
    yield "Eclair"
    yield "Froyo"
    yield "Gingerbread"
    yield "Honeycomb"
    yield "Ice Cream Sandwich"
    yield "Jelly Bean"
    yield "KitKat"
    yield "Lollipop"
    yield "Marshmallow"

for g in goodies():
    print(g, end=" ")

Cupcake Donut Eclair Froyo Gingerbread Honeycomb Ice Cream Sandwich Jelly Bean KitKat Lollipop Marshmallow

In [217]:
def fib(max):
    a, b = 0, 1
    while a < max:
        yield a
        a, b = b, a + b
    
for i in fib(10):
    print (i, end=" ")

0 1 1 2 3 5 8

In [223]:
# iterator using list
def fibo2(n):
    result = []
    a,b = 0,1
    while True:
        if a>n:
            break
        result.append(a)
        a,b = b,a+b
    print (result)


fibo2(int(input("Input please!")))

Input please! 10

[0, 1, 1, 2, 3, 5, 8]

In [249]:
import json
from urllib.request import urlopen

apikey = "192bcca44ede9f34bee3da2de9585803"

def get_weather(city):
    sock = urlopen(f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={apikey}&units=metric")
    result = sock.read()
    sock.close()
    weather = json.loads(result)
    temperature = weather ["main"]["temp"]
    feels_like = weather ["main"]["feels_like"]

    return temperature, feels_like

invalid = False
user_city = input("Which city's weather would you like to check?")
try:
    temperature_found, feels_like_temp = get_weather(user_city)
except:
    invalid = True
if invalid:
    print ("Invalid city, please try again")
else:
    print(f"The temperature in {user_city} is {temperature_found:.2f} deg C and it feels like {feels_like_temp:.2f} deg C")

Which city's weather would you like to check? Beijing

The temperature in Beijing is 27.94 deg C and it feels like 28.05 deg C

In [264]:
# to seach through multiple pages of the url
from urllib.request import urlopen
import json

def get_result(query, page_num=1):
    # Open the URL with the query parameters
    with urlopen(f"https://www.onemap.gov.sg/api/common/elastic/search?searchVal={query}&returnGeom=Y&getAddrDetails=Y&pageNum={page_num}") as response:
        # Read and decode the result
        result = response.read().decode('utf-8')

    # Parse the JSON response
    address_data = json.loads(result)

    return address_data

# Get user input for the postal code
user_query = input("Which Postal Code to check for address? ")
all_addresses = []
page_num = 1

while True:
    # Fetch the result for the current page
    result = get_result(user_query, page_num)

    # Check if there are any results
    if 'results' in result and len(result['results']) > 0:
        # Append all addresses from the current page to the list
        for item in result['results']:
            all_addresses.append(item['ADDRESS'])
        # Increment the page number for the next iteration
        page_num += 1
    else:
        # No more results, break the loop
        break

if all_addresses:
    print("Addresses found:")
    for address in all_addresses:
        print(address)
else:
    print("No addresses found for the given postal code.")

Which Postal Code to check for address?  536972

Addresses found:
68 LORONG 1 REALTY PARK PEOPLE'S GARDEN SINGAPORE 536972

In [294]:
def module1_function1():
    print("module1_function1")
def module1_function2():
    print("module1_function2")

In [268]:
%%writefile module2.py

def module2_function1():
print("module2_function1")
def module2_function2():
print("module2_function2")

Overwriting module2.py

In [282]:
%%writefile __init__.py

from mypackage.module1 import *
from mypackage.module2 import *

Overwriting __init__.py

In [295]:
%%writefile usemypackage.py

import mypackage.module1
import mypackage.module2
mypackage.module1_function1() # module1_function1
mypackage.module1_function2() # module1_function2
mypackage.module2_function1() # module2_function1
mypackage.module2_function2() # module2_function2

Overwriting usemypackage.py

In [296]:
module1_function1